@model IEnumerable<Operation>;

@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="p-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 5%">@Html.DisplayNameFor(o => o.ID)</th>
                <th style="width: 10%">@Html.DisplayNameFor(o => o.CustomerName)</th>
                <th style="width: 15%">@Html.DisplayNameFor(o => o.Device)</th>
                <th style="width: 40%">@Html.DisplayNameFor(o => o.DeviceFault)</th>
                <th style="width: auto"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.ID.ToString("0000")</td>
                    <td>@item.CustomerName</td>
                    <td>@item.Device</td>
                    <td>@item.DeviceFault</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Operation" asp-action="Delivery" asp-route-id="@item.ID">Teslim Et</a>
                        <a class="btn btn-success" asp-controller="Operation" asp-action="Edit" asp-route-id="@item.ID">Düzenle</a>
                        <a class="btn btn-info" asp-controller="Operation" asp-action="Detail" asp-route-id="@item.ID">Yazdır</a>
                        <a class="btn btn-danger" asp-controller="Operation" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
